<div class="tratament pb-3 mt-2 mb-5">
    <div class="row rounded">
        <div class="col-12 " >
            <div class="image-container rounded " [style.background-image]="'url(' + this.tratament.url_image + ')'">
                
            </div>
            <!-- <img class="rounded"  [src]="this.tratament.url_image" alt=""> -->
        </div>
    </div>
    <div class="row title text-center mt-4">
        <div class="col">
            <h5 class="text-black-color">
                {{tratament.name}}
            </h5>
        </div>
    </div>
    <div class="row text-gray-color  description mt-2 text-center ">
        <div class="col px-5">
            {{tratament.description}}
        </div>
    </div>

    <div class="text-center row text-primary-color   price mt-2 text-justify">
        <div class="col">
          <h5> ${{tratament.price}}</h5>
        </div>
    </div>

    <div class="row link mt-5">
        <div class="col text-center">
           <a class="btn btn-outline-primary" [href] = " tratament.link_mp">Solicitar</a>
        </div>
    </div>
</div>