.tratament{
  background-color: white;  
}

.title{
    min-height: 50px;
    max-height: 50px;
}
.description{
    min-height: 120px;
    max-height: 120px;
}
.price{
    min-height: 20px;
    max-height: 20px;
}
.link{
    min-height: 100px;
    max-height: 100px;
}
.image{
    min-height: 180px;
    max-height: 180px;
}
.image-container{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 180px;
    /* background-image: url("../../../../assets/images/no_image.png"); */
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}
img{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 180px;
    
}