<app-layout-admin>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"  ></ngx-loading>
    <section>
        <div class="container">
            <div class="row px-4">
                <div class="form-container col-12 offset-md-4 col-md-4 bg-primary-color my-5 py-3 px-3">
                    <form  class="form text-white-color" action="" #formLogin  (change) = "isValid()" (keypress) = "isValid()">
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="" class="control-label">Email</label>
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control" type="text" name="email" [(ngModel)] = "email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <label for="" class="control-label">Contraseña</label>
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control" type="password" name="password" [(ngModel)] = "password">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <input class="btn btn-success" type="button" value="Ingresar"   (click)  = "handleClickLogin()" [disabled]  = "disabled" /> 
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <div class="row">
                                    <div class="col-12 text-white-color">
                                            {{this.error}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</app-layout-admin>