<section class="footer onfooter bg-white-color text-primary-color">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-12">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-12">
                    <a href="https://m.facebook.com/spadevotobykarinacoria/">
                        <span class="text-primary-color"><i class="fa fa-facebook-official mr-3" aria-hidden="true"></i>spadevotobykarinacoria</span>
                    </a>
                    </div>
                    <div class="col-12">
                        <a href="https://www.instagram.com/spadevoto/">
                            <span class="text-primary-color "><i class=" fa fa-instagram mr-3" aria-hidden="true"></i>@spadevoto</span>
                        </a>
                    </div>
                    <div class="col-12">
                        <a href="mailto:spadevoto9931@gmail.com">
                            <span class="text-primary-color"><i class=" fa fa-google mr-3" aria-hidden="true"></i>spadevoto9931@gmail.com</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        José Pedro Varela 4753
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        9:00 a 20:00 Hs.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer bg-primary-color text-white-color">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                 Copyright &copy; - AxelMolaro {{date}} 
            </div>
        </div>
    </div>
</section>
