.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.onfooter{
    border-top: 1px solid #f17bab;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .onfooter{
        text-align: center;
    }
 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }