<app-layout>
    <app-section-banner-text id="home"></app-section-banner-text>
    <app-section-free-diagnostic></app-section-free-diagnostic>
    <app-section-trataments id="servicios"></app-section-trataments>
    <app-section-cosmetics></app-section-cosmetics>
    <app-section-nutrition></app-section-nutrition>
    <app-section-media-social id="social"></app-section-media-social>
    <app-section-map id="map"></app-section-map>
</app-layout>