a{
	text-decoration: none;
}
.wsp-btn{
	border-radius: 75px;
	font-size: 10pt;
	max-width: 220px !important;
	border: 1px solid white;
}

.wsp-btn:hover{
	background-color: white !important;
	color: #f17bab !important;
	border: 1px solid #f17bab;
	max-width: 220px !important;
}

.principal{
	width: 220px;
	position: fixed;
	bottom: 90px;
	right: 0px;
}