<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="principal">   
    <a href="https://api.whatsapp.com/send?phone=+5491150610443&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20los%20tratamientos%20." class="" target="_blank">
        <div class="row px-3 bg-primary-color text-white-color py-3 wsp-btn ">
            <div class="col-2 offset1">
                <i class="fa fa-whatsapp "></i>
            </div>
            <div class="col-9   ">
                <small> Consultar tratamientos</small>
            </div>
        </div>
    </a>
    <br>
    <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20la%20depilaci%C3%B3n%20definitiva%20." class="" target="_blank">
        <div class="row px-3 bg-primary-color text-white-color py-3 wsp-btn ">
            <div class="col-2 offset1">
                <i class="fa fa-whatsapp "></i>
            </div>
            <div class="col-9   ">
                <small> Consultar depilación </small>
            </div>
        </div>
    </a>
</div>