/* You can add global styles to this file, and also import other style files */
:root {
    --bg-primary-color: #f17bab;
    --bg-secondary-color: #5FFAE0;
    --text-primary-color: #f17bab;
    --text-secondary-color: #5FFAE0;
    --text-black-color: black;
    --text-gray-color: #929292;
    --text-white-color: white;

}

.btn-outline-primary{
    color: var(--bg-primary-color) !important;
    border-color: var(--bg-primary-color) !important;
    border-radius: 75px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-outline-primary:hover{
    color: white !important;
    background-color: var(--bg-primary-color) !important;
    border-color: var(--bg-primary-color) !important;

}


.btn-primary {
    color: #fff;
    background-color: var(--bg-primary-color) !important;
    border-color: var(--bg-primary-color) !important;
    border-radius: 75px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}


.bg-primary-color{
    background-color: var(--bg-primary-color) !important;
}
.bg-secondary-color{
    background-color: var(--bg-secondary-color) !important;
}

.bg-white-color{
    background-color: white !important;
}
.text-primary-color{
    color: var(--text-primary-color) !important;
}

.text-secondary-color{
    color: var(--text-secondary-color) !important;
}

.text-gray-color{
    color: var(--text-gray-color) !important;
}
.text-black-color{
    color: var(--text-black-color) !important;
}

.text-white-color{
    color: var(--text-white-color) !important;
}

.loading{
    position: fixed;
    top: 55vh;
    left: 42vw;
    z-index: 1;
    color: #f17bab;
    font-weight: bold;
}