.media-social{
    border: 1px solid #f17bab;
}
a{
    border: 1px solid white;
    color: white !important;
    text-decoration: none;
    /* padding-bottom: 20px;
    padding-top: 20px; */
}

a:hover{
    border: 1px solid #f17bab;
    color: #f17bab !important;
    background-color: white !important;
    
}