<section class="media-social ">
    <div class="container-fluid ">
        <div class="row ">
            <div class="px-5  py-5 col-12 col-md-6 text-primary-color ">
                <h3 class="d-none d-sm-block">Nuestras redes</h3>
                <h3 class="d-block d-sm-none text-center" >Nuestras redes</h3>
            </div>
            <div class="px-5 py-5 col-12 col-md-6 bg-primary-color text-white-color">
                <div class="row">
                    <div class="col-4 col-md-3 offset-0 offset-md-2">
                        <a class="py-3 px-4 " href="https://www.instagram.com/spadevoto/"  target="_blank" >
                            <span class="fa fa-instagram"></span>
                        </a>
                    </div>
                    <div class="col-4 col-md-3">
                        <a class="py-3 px-4"  href="https://m.facebook.com/spadevotobykarinacoria/" target="_blank" >
                            <span class="fa fa-facebook" ></span>
                        </a>
                    </div>
                    <div class="col-4 col-md-3">

                        <a class="py-3 px-4"  href="mailto:spadevoto9931@gmail.com"   >
                            <span class="fa fa-google"></span>
                        </a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>