<app-layout>
    <section class="py-5 " >
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="text-primary-color"> Servicios</h2>
                </div>
            </div>
                    <form action="mt-2" #filter>
                        <div class="row">
                            <div class="form-group col-12 col-sm-8">
                                <label for="" class="control-label">Nombre</label>
                                <div class="row">
                                    <div class="col-12 input-group ">
                                        <input  type="text" class="form-control" type="text"   placeholder="Buscar Servicio" aria-label="Recipient's username" aria-describedby="basic-addon2"  [(ngModel)]="nameQuery" name ="nameQuery" (keyup) = "filterTrataments()" [disabled] = "loading">
                                        <div class="input-group-append">
                                            <span class="query input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12 col-sm-4">
                                 <label for="control-label">Tipo</label>
                                 <div class="row">
                                     <div class="col-12">
                                        <select class="form-control" [(ngModel)]="typeQuery"  name="typeQuery" [disabled] = "loading" (change) = "filterTrataments()">
                                            <option value="todos">Todos</option>
                                            <option value="corporal">Corporales</option>
                                            <option value="facial">Faciales</option>
                                        </select>
                                     </div>
                                 </div>
                            </div>
                        </div>                       
                    </form>
            <app-loading [text] = "textLoading" *ngIf = "loading"></app-loading>
            <div class="row mt-5" >
                <app-tratament class="col-12 col-md-4" [tratament] = "tratament" *ngFor="let tratament of tratamentsFiltered"></app-tratament>
            </div>
        </div>
    </section>

</app-layout>