.section_trataments{
    /* background-image: url("https://www.alexmartinezvidal.com/wp-content/uploads/2015/09/resolucion-photoshop.jpg"); */
    background-color: #f8faff;
    min-height: 80vh;
    min-width:  100vw;
}
