<section class="section_trataments py-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12 text-center"> 
                <h2 class="mt-5 text-primary-color">Nutrición</h2> <br>
            </div>
            
        </div>
        <app-loading [text] = "textLoading" *ngIf = "loading"></app-loading>
        <div class="row">
            <app-tratament class="col-12 col-md-4" [tratament] = "tratament" *ngFor="let tratament of trataments"></app-tratament>
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center">
             <a class="btn btn-primary py-3 " href = "/nutricion">Todos los productos de nutrición</a>
            </div>
        </div> 
                

     

    </div>

</section>
