<nav id="nav" class="bg-primary-color  text-white-color  navbar-custom navbar navbar-expand-lg navbar-dark bg-light">
    <a class="navbar-brand text-white-color" href="#">
      <img src="../../../../assets/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" *ngIf = "user" >
          <a class="nav-item nav-link text-white-color " href="/admin/tratamientos">Tratamientos <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link text-white-color " href="/admin/cosmeticos">Cosméticos <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link text-white-color " href="/admin/nutricion">Nutrición <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link text-white-color " href="#" (click) = "handleClickCloseSession()">Cerrar sesión <span class="sr-only">(current)</span></a>
        </div>
      </div>
  </nav>