.section_banner_text{
    background-image: url("../../../../../../assets/images/bannerLogo2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width:  100vw;
}

.section_banner_text_mobile{
    background-image: url("../../../../../../assets/images/bannerLogo2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
    width:  100vw;
}

