<section class="section_banner_text d-none d-sm-block">
</section>
<section class="section_banner_text_mobile d-block d-sm-none mt-5">
</section>

    <!-- <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mt-5"> 
                <h1 class="mt-5">Servicio sarasa</h1> <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, numquam a placeat beatae cupiditate adipisci id nesciunt assumenda quam eveniet labore rerum illum temporibus necessitatibus sequi ipsam corrupti sed eligendi!</p>
            </div>
        </div>
    </div> -->
