<nav id="nav" class="bg-primary-color  text-white-color  navbar-custom navbar navbar-expand-lg navbar-dark bg-light">
    <a class="navbar-brand text-white-color" href="#">
      <img src="../../../../assets/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" >
          <a class="nav-item nav-link text-white-color " href="/home#nav">Inicio <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link text-white-color" href="/tratamientos">Tratamientos</a>
          <a class="nav-item nav-link text-white-color" href="/cosmeticos">Cosméticos</a>
          <a class="nav-item nav-link text-white-color" href="/nutricion">Nutrición</a>
          <a class="nav-item nav-link text-white-color" href="/home#social">Redes</a>
          <a class="nav-item nav-link text-white-color" href="/home#map">Dirección</a>
        </div>
      </div>
  </nav>