<app-layout-admin>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"  ></ngx-loading>

    <section class="listSection" *ngIf = "status === 'list'">  
        <div class="container list pt-5">
            <div class="row ">
                <div class="col-12">
                    <table class="table table-responsive">
                        <thead>
                            <h2 class="text-primary-color">Listado de productos de nutrición</h2>
                            <br>
                            <button class="btn btn-info mb-3" (click) = "handleClickCreate()">Crear producto de nutrición</button>
                            <br>
                            <tr>
                                <th class="col">Id</th>
                                <th class="col">Imagen</th>
                                <th class="col">Nombre</th>
                                <th class="col">Precio</th>
                                <th class="col">Link</th>
                                <th class="col">Estado</th>
                                <th class="col">Editar</th>
                                <th class="col">Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of allProducts">
                                <td>{{product.uid}}</td>
                                <td><img [src]="product.url_image" width="80px"  height="80px" alt=""></td>
                                <td>{{product.name}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.link_mp}}</td>
                                <td>{{product.active}}</td>
                                <td>
                                    <button class="btn btn-warning mr-2" (click) = "handleClickEdit(product)">Editar</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" (click) = "handleClickDelete(product.uid)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div >
            </div>
        </div>
    </section>

    <section class="editSection" *ngIf = "status === 'edit' || status === 'create' ">  
        <div class="container-fluid edit pt-5">
            <div class="row">
                <div class="col-12 col-sm-8">
                    <div class="row ">
                        <div class="col-12">
                            <h2 class="text-primary-color" *ngIf = "status === 'create'">Alta de producto de nutrición</h2>
                            <h2 class="text-primary-color" *ngIf = "status === 'edit'">Edición de producto de nutrición</h2>
                        </div>
                        <div class="col-12">
                            <form #productForm  class="form row"   action="" (change) = "isValid()" (click) = "isValid()"  (keypress) = "isValid()" (load) = "isValid()">
                                <div class="form-groups col-12 col-md-12" *ngIf = "status === 'edit'" >
                                    <label for="control-label" >Id</label>
                                    <div class="row">
                                        <div class="col">
                                            <input readonly = "readonly" type="text" class="form-control"  [(ngModel)]="productModel.uid" name="uid"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-groups col-12 col-md-6">
                                    <label for="control-label">Nombre</label>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control"  [(ngModel)]="productModel.name" name="name"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-groups col-12 col-md-6">
                                    <label for="control-label">Precio</label>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control"  [(ngModel)]="productModel.price" name="price"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-groups col-12 col-md-12" cols = "20">
                                    <label for="control-label">Descripción</label>
                                    <div class="row">
                                        <div class="col">
                                            <textarea  class="form-control"  [(ngModel)]="productModel.description" name="description"> </textarea>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="form-groups col-12 col-md-12">
                                    <label for="control-label">Link de mercado pago</label>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control"  [(ngModel)]="productModel.link_mp" name="link_mp"> 
                                        </div>
                                    </div>
                                </div>
        
                                <div class="form-groups col-12 col-md-6">
                                    <label for="control-label">Tipo</label>
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-control" [(ngModel)]="productModel.type" name="type" readonly ="readonly">
                                                <option value="nutrition">Nutrición</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="form-groups col-12 col-md-6">
                                    <label for="control-label">Estado</label>
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-control" [(ngModel)]="productModel.active" name="active">
                                                <option value="true">Activo</option>
                                                <option value="false">Inactivo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-groups col-12 col-md-6">
                                    <label for="control-label">Imagen</label>
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn btn-warning mr-3" (click)='handleClickChangeImg()'>Cambiar imagen</button>        
                                            <input  type="file" class="d-none" id="image" (change)="changeImage($event,productModel,true)"  (mouseleave)="handleMouseLeaveInputFile($event, productModel,true)">
        
        
                                        </div>
                                    </div>
                                </div>
        
        
                                <div class="form-groups col-12 col-md-12 my-3">
                                    <input *ngIf = "status === 'edit'"   type="button" value="Guardar" class=" float-right btn btn-success ml-3" (click) = "handleClickSaveEdit()" [disabled] = "hasDisableButton">
                                    <input *ngIf = "status === 'create'" type="button" value="Guardar" class=" float-right btn btn-success ml-3" (click) = "handleClickSaveCreate()" [disabled] = "hasDisableButton">
                                    <input type="button" value="Cancelar" class="float-right btn btn-warning" (click) = "handleClickCancel()">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <app-tratament [tratament] = "productModel"></app-tratament>
                </div>
            </div>
            
        </div>
    </section>

</app-layout-admin>
