<section class="disgnostic bg-primary-color mt-5">
    <div class="container py-5 mt-5">
        <div class="row py-5">
            <div class="col col-sm-8 offset-0 offset-sm-2 text-center">
                <h2 class="text-white-color">
                    Te hacemos un diagnóstico <strong> SIN CARGO</strong> y te recomendamos los tratamientos ideales para vos.
                </h2>
            </div>
        </div>
    </div>
</section>